@model Ogrenci
<h2>Öğrenci Güncelle</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-contorller="Home" asp-action="EditOgrenci" method="post">
            <input type="hidden" asp-for="Id">
            <div class="mb-3">
                <label asp-for="OgrenciAd" class="form-label" >Ad</label>
                <input asp-for="OgrenciAd" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="OgrenciSoyad" class="form-label" >Soyad</label>
                <input asp-for="OgrenciSoyad" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label" >Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Telefon" class="form-label" >Telefon</label>
                <input asp-for="Telefon" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary">Kaydet</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Kurslar</h4>
        <hr>
        @foreach(var item in @Model.KursKayitlari)
        {
            <li>@item.Kurs.Baslik</li>
        }
    </div>
</div>

